.dot {
  height: 20px;
  width: 20px;
  background-color: #e31717;
  border-radius: 50%;
  display: inline-flex;
}

.mat-mdc-card-subtitle {
  color: black;
}

mat-mdc-card {
width: 1rem;
height: auto;
}