.main-container {
  background-color: #f7f5f5;
  margin-bottom: 4rem;
}

.main-content {
  background-color: #f7f5f5;
  margin: 2rem 4rem;
}

.content-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-header {
  display: inline-block;
}

.content-btn {
  display: inline-block;
  justify-content: end;
  background-color: #771A2A;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #e31717;
  border-radius: 50%;
  display: inline-flex;
}

.mat-mdc-card-subtitle {
  color: black;
}

mat-mdc-card {
  width: 1rem;
  height: auto;
}

mat-card-content {
  margin: 0 auto;
}

.img-medal {
  width: 6rem;
  height: auto;
}