<app-header></app-header>
<section class="main-section">
  <h1 class="header-1-component">Paris 2024</h1>
  <div style="background-color: white;">
    <h1>Ergebnisse für {{ sport }}</h1>
    <div style="display: flex; flex-direction: column; margin-bottom: 6rem;">

      <div class="main-container">
        <div class="main-content">
          <div class="content-toolbar">
            <h1 class="content-header">Männer</h1>
            <button class="content-btn" style="color: white;" mat-stroked-button
              (click)="navigateToFullResults(sport, 'male')">
              Ergebnisse vollständig ansehen</button>
          </div>
          <div class="content-grid">
            <mat-card *ngFor="let item of topAtheltes.men">
              <mat-card-content><img src="../../../assets/{{item.result}}-medal.png" class="img-medal" />
                <p>{{item.germanCountryName}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="main-container">
        <div class="main-content">
          <div class="content-toolbar">
            <h1 class="content-header">Frauen</h1>
            <button class="content-btn" style="color: white;" mat-stroked-button
              (click)="navigateToFullResults(sport, 'female')">
              Ergebnisse vollständig ansehen
            </button>
          </div>
          <div class="content-grid">
            <mat-card *ngFor="let item of topAtheltes.women">
              <mat-card-content><img src="../../../assets/{{item.result}}-medal.png" class="img-medal" />
                <p>{{item.germanCountryName}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>