<form class="login-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="login-header">
    <img src="../../assets/logo_color.svg" alt="olympia logo" style="width: 7rem; height: auto;">
    <h2>Welcome</h2>
    <p>Sign in to continue</p>
  </div>

  <mat-form-field appearance="outline">
    <mat-label for="username">Username</mat-label>
    <input id="username" formControlName="username" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="password">Password</mat-label>
    <input id="password" formControlName="password" [type]="hide ? 'password' : 'text'" matInput>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button class="submit-btn" type="submit">Sign in</button>
</form>