<!-- <div style="background-color: #3b3131;"> -->
  <form class="login-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div style="margin-bottom: 1rem; text-align: center;">
      <img src="../../assets/logo_color.svg" alt="olympia logo" style="width: 7rem; height: auto;">
      <h2>Willkommen</h2>
      <p>Bitte melden Sie sich an</p>
    </div>

    <mat-form-field appearance="outline">
      <mat-label for="username">Benutzername</mat-label>
      <input id="username" formControlName="username" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="password">Passwort</mat-label>
      <input id="password" formControlName="password" [type]="hide ? 'password' : 'text'" matInput>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button class="submit-btn" type="submit">Anmelden</button>
  </form>
<!-- </div> -->