.login-container {
  border: 2px solid #3b3131;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: auto;
  width: 17rem;
  margin: 7rem auto;
  padding: 3rem;
  background-color: #ffff;
}

.login-header {
  margin-bottom: 1rem;
  text-align: center;
}

.submit-btn {
  border: 1px solid #3b3131;
  border-radius: 4px;
  height: 56px;
  font-size: 16px;
  background-color: #771a2a;
  color: #ffff;
}