<app-header></app-header>
<section class="main-section">
  <h1 class="header-1-component">Ergebnisse Paris 2024</h1>
  <div style="background-color: white;">
    <h1>Sportarten</h1>
    <div style="display: flex; margin-bottom: 6rem;">
      <button class="btn-1" type="submit" (click)="navigateToTopAthletes('100m-Sprint')">
        <img src="../../assets/sprint.png" alt="100m-Sprint" />
        </button>
      <button class="btn-2" type="submit" (click)="navigateToTopAthletes('Schwimmen')">
        <img src="../../assets/swimming.png" alt="Schwimmen" />
      </button>
      <button class="btn-3" type="submit" (click)="navigateToTopAthletes('Weitsprung')">
        <img src="../../assets/weitsprung.png" alt="Weitsprung" />
      </button>
      <button class="btn-4" type="submit" (click)="navigateToTopAthletes('Springreiten')">
        <img src="../../assets/springreiten.png" alt="Springreiten" />
      </button>
    </div>
  </div>
</section>